---
layout : default
---
<div class="page-header">
  <h1>{{ page.title }} {{# page.tagline }} <small>{{ . }}</small>{{/ page.tagline }}</h1>
</div>

<div class="row-fluid post-full">
  <div class="span12">
    <div class="date">
      <span>{{page.date}}</strong>
    </div>
    <div class="content">
      {{{ page.content }}}
    </div>
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
    {{# page.categories }}
      {{> categories_list }}
    {{/ page.categories }}
    </ul>
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
    {{# page.tags }}
      {{> tags_list }}
    {{/ page.tags }}
    </ul>
    <hr>
    <div class="pagination">
      <ul>
        {{# page.previous }}
          <li class="prev"><a href="{{ url }}" title="{{ title }}">&larr; Previous</a></li>
        {{/ page.previous }}
        {{^ page.previous }}
          <li class="prev disabled"><a>&larr; Previous</a></li>
        {{/ page.previous }}

          <li><a href="{{urls.base_path}}archive">Archive</a></li>

        {{# page.next }}
          <li class="next"><a href="{{ url }}" title="{{ title }}">Next &rarr;</a></li>
        {{/ page.next }}
        {{^ page.next }}
          <li class="next disabled"><a>Next &rarr;</a>
        {{/ page.next }}
      </ul>
    </div>
    <hr>
    {{{ widgets.comments }}}
  </div>
</div>

